@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --bg-white: #fefefe;
  --bg-black: #010101;
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
}

@layer utilities {
  * {
    @apply transition-all duration-200 ease-linear;
  }

  section, article {
    content-visibility: auto;
  }

  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }

  .goog-logo-link,
  .goog-te-gadget span {
    display: none !important;
  }

  .blog-content figure {
    @apply my-3.5 w-full;
  }
  .blog-content figure > img {
    @apply aspect-video rounded-xl bg-gray-50 dark:bg-gray-950 object-cover;
  }
  .blog-content figure > figcaption {
    @apply mt-4 text-sm/6 text-gray-600 dark:text-gray-400;
  }

  .blog-content p {
    @apply text-base/7 text-gray-700 dark:text-gray-300;
  }

  .blog-content h2 {
    @apply text-3xl font-semibold tracking-tight text-pretty text-gray-900 dark:text-gray-100;
  }
  .blog-content h3 {
    @apply text-2xl font-semibold tracking-tight text-gray-800 dark:text-gray-200;
  }
  .blog-content h4 {
    @apply text-xl font-semibold tracking-tight text-gray-800 dark:text-gray-200;
  }

  .blog-content pre {
    @apply font-mono bg-gray-200 dark:bg-gray-800 p-2 rounded-lg overflow-x-auto ring-1 ring-inset ring-gray-300 dark:ring-gray-700;
  }
  .blog-content pre > code {
    @apply bg-transparent text-sm text-gray-800 dark:text-gray-200;
  }

  .blog-content code {
    @apply font-mono text-sm bg-gray-100 dark:bg-gray-900 p-0.5 rounded;
  }

  .blog-content ul {
    @apply list-disc my-2 pl-4;
  }
  .blog-content ol {
    @apply list-decimal my-2 pl-4;
  }
  .blog-content li {
    @apply text-gray-700 dark:text-gray-300 mt-2.5;
  }

  .blog-content a {
    @apply text-gray-800 dark:text-gray-200 underline;
  }

  .blog-content table {
    @apply min-w-full divide-y divide-gray-300 dark:divide-gray-700;
  }
  .blog-content table > th {
    @apply py-3.5 pl-4 pr-3 text-left text-sm font-medium text-gray-800 dark:text-gray-200 sm:pl-0;
  }
  .blog-content table > tbody {
    @apply divide-y divide-gray-200 dark:divide-gray-800;
  }
  .blog-content table tbody td {
    @apply whitespace-nowrap px-3 py-4 text-sm;
  }

  .blog-content blockquote {
    @apply font-medium text-gray-800 dark:text-gray-800 border-l border-gray-600 dark:border-gray-400 pl-8;
  }

  .blog-content strong {
    @apply text-gray-900 dark:text-gray-100 font-semibold;
  }
}
